body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #005f73;
    text-align: center; 
    border-bottom: 2px solid #005f73;
}

h2, h3 {
    color: #0a9396;
    margin-top: 25px;
}

p {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
    margin-bottom: 15px;
    text-align: justify;
}